[user]
	name = CMarcin
	email = marcin.jan.ciesielski@gmail.com
[color]
	ui = auto
[core]
	editor = 'C:\\Windows\\System32\\notepad.exe' -n -w
[push]
	default = upstream
[merge]
	conflictstyle = diff3
